body{
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
color: #1e1d1d;
font-size: 24px;
font-weight: 100;
line-height: 29px;

}
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    color: #323538;
    margin: 0;
    padding: 5px 0;
   
}

li::first-letter{
text-transform: capitalize;
}

footer{
    width: 600 px;
    margin: 30px auto;
}

.weather {
    width: 500 px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    /*background: linear-gradient(181.2deg, rgb(37, 183, 209) 10.5%, rgb(254, 254, 254) 86.8%);*/
    background-image:url(../img/pexels-skitterphoto-675977.jpg)  ;
}

.WeatherInfo{
    margin-bottom: 20px;
    margin-top: 20px;
}

.weather-temperature img{
    margin-top: 0px;
        margin-right: 5px;
        padding-right: 0;
    

}

.weather-temperature strong{
    color: #222122;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    
}

.weather-temperature .units{
    position: relative;
    font-size:16px;
    top: -24px;
}

.temp{
    padding-top: 28px;
    padding-left: 0;
}

.temp strong{
    padding-left: 0;
}

.units a {
    text-decoration: none;
}

.weather-temperature .active{
    color: #222122;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast{
    margin-top: 20px;
    text-align: center;
    
    
}
.weather-forecast-date {
    
    
    font-size: 16px;
}

.weather-forecast-temperature-min  {
    font-size: 13px;
    opacity: 80%;
} 
.weather-forecast-temperature-max{
    font-size: 13px;
}

.weather-daily {
    border: solid 1px ;
}

.col-2 {

    margin: 20px;
    width: 150px;
    padding: 50px 5px;

}